body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width: 100rem) {
  .body {
    max-width: 90rem;
  }
  .imgLogMenu {
    max-width: 90rem;
  }
  .container {
    max-width: 90rem;
  }
  .img1 {
    width: 100vw;
  }
}
@media screen and (max-width: 90rem) {
  .body {
    max-width: 90rem;
  }
  .header {
    max-width: 90rem;
  }
  .text__header {
    white-space: nowrap;
  }
  .text__nav {
    white-space: nowrap;
  }
  .svgFour {
    display: flex;
  }
  .img__about {
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 2rem;
    
  }
  .slider {
    max-width: 60rem;
    height: 35rem;
    display: flex;
    gap: 2rem;
    justify-content: start;
    margin-left: 1.5rem;
}
@media screen and (max-width: 80rem) {
  .list__nav {
    gap: 1rem;
  }
  .coffe__shop {
    width: 48rem;
    height: 92.5625rem;
    background: #fff;
    position: relative;
    padding: 0;
    gap: 0;
  }
  .about__line1 {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
  .coffee_text {
    max-width: 45.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.24rem;
  }
  .menu {
    max-width: 27.375rem;
    height: 32.5rem;
    display: flex;
  }
  .deserts {
    max-width: 30.125rem;
    position: absolute;
    left: -9rem;
    top: 35rem;
  }
  .coffe__and__tea {
    position: absolute;
    right: -5rem;
  }
}
@media screen and (max-width: 75rem) {
  .favorites {
    margin: 0 auto;
    max-width: 48rem;
    height: 164.3125rem;
    background: #fff;
    position: relative;
  }
  .seasons__text {
    margin: 0;
    margin-right: 5rem;
    margin-left: 1.25rem;
  }
  .favorites__items {
    max-width: 48rem;
    height: 164.3125rem;
    margin: 0;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partZero {
    opacity: 1;
    transition: 0.5s;
  }
  .partOne {
    opacity: 0;
    transition: 0.5s;
  }
  .partToo {
    opacity: 0;
    transition: 0.5s;
  }
  .partThree {
    opacity: 0;
    transition: 0.5s;
  }
  .first__books {
    width: 34.375rem;
    max-height: 34.6875rem;
    position: absolute;
    justify-content: center;
    align-self: center;
  }
  .second__books {
    width: 34.375rem;
    max-height: 34.6875rem;
    position: absolute;
    justify-content: center;
    align-self: center;
    top: 38rem;
    left: 6.7rem;
  }
  .third__books {
    width: 34.375rem;
    max-height: 34.6875rem;
    position: absolute;
    justify-content: center;
    align-self: center;
    bottom: 15rem;
  }
  .fourth__books {
    width: 34.375rem;
    height: 34.6875rem;
    position: absolute;
    justify-content: center;
    align-self: self-end;
    bottom: 16rem;
    left: 6.7rem;
  }
  .favorites__button {
    width: 4.6875rem;
    height: 1.875rem;
    border-radius: 0.125rem;
    border: 1px solid #0c0c0e;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts__info {
    white-space: unset;
  }
  .coffe__shop {
    margin: 0 auto;
  }
}
@media screen and (max-width: 64rem) {
  .header {
    margin: 0 auto;
    width: 100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    z-index: 50;
    overflow-y: auto;
    background-color: #0c0c0e;
  }
  .text__nav {
    cursor: pointer;
    display: none;
  }
  .imgLogMenu {
    display: flex;
    position: absolute;
    right: 5rem;
    top: 0;
  }
  .burger__menu {
    width: 2.8125rem;
    height: 1.25rem;
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.25rem;
    cursor: pointer;
  }
  .burger__menu span {
    width: 2.8125rem;
    height: 0.125rem;
    background: #fff;
    opacity: 1;
    transition: 1s;
  }
  .burger__menu::before,
  .burger__menu::after {
    content: "";
    position: absolute;
    width: 2.8125rem;
    height: 0.125rem;
    background: #fff;
  }
  .burger__menu::before {
    top: 0;
    transition: 0.5s;
  }
  .burger__menu::after {
    bottom: 0;
    transition: 0.5s;
  }
  .burger__menu.active span {
    display: none;
  }
  .burger__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .burger__menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .list__nav {
    display: flex;
  }
  .contacts {
    margin: 0 auto;
    display: flex;
    width: 47.9375rem;
    height: 57.5rem;
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
    flex-direction: column;
  }
  .contacts__info {
    white-space: nowrap;
    margin: 0;
  }
  .rectangle {
    width: 43.5rem;
    height: 25.875rem;
    position: static;
    margin-top: 6.5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
  }
  .LibraryCard {
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 48rem;
    max-height: 53.5625rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .find__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .get__a__card {
    max-width: 37.5rem;
    height: 13.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
  }
  .get__a__card__head {
    text-align: center;
  }
  .get__a__card__text {
    text-align: center;
  }
  .get__a__card__button {
    position: absolute;
    bottom: -5rem;
    left: 12.5rem;
  }
  .get__a__card__button1 {
    position: absolute;
    bottom: -5rem;
    right: 12.5rem;
  }
  .img__about {
    max-width: 28.125rem;
    height: 35rem;
    gap: 3.62rem;
  }
  .footer__head {
    margin: 0;
    max-width: 64rem;
    height: 15.625rem;
    margin-top: 15rem;
  }
  .frame__text1 {
    right: 0;
  }
  .frame2__text {
    right: 0;
  }
  .svg2 {
    display: flex;
  }
  .carret__left {
    display: flex;
    align-self: center;
    position: absolute;
    cursor: pointer;
    top: 27rem;
    left: 9rem;
  }
  .carret__right {
    display: flex;
    align-self: center;
    position: absolute;
    cursor: pointer;
    top: 27rem;
    right: 9rem;
  }
  .slider {
    max-width: 28.125rem;
    height: 35rem;
    display: flex;
    justify-content: start;
    gap: 2rem;
}
@media screen and (max-width: 48rem) {
  .header {
    margin: 0 auto;
    max-width: 100%;
  }
  .welcome__bg {
    padding-right: 4rem;
  }
  .img__about {
    display: flex;
    justify-content: center;
  }
  .about__text {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .frame {
    max-width: 45.5rem;
  }
  .frame1 {
    max-width: 45.5rem;
  }
  .frame2 {
    max-width: 45.5rem;
  }
  .line3 {
    max-width: 45.5rem;
  }
  .frame__text1 {
    right: 0;
  }
  .frame2__text {
    right: 0;
  }
}
