* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 90rem;
}
.main__body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 90rem;
  position: relative;
}
.header {
  margin: 0 auto;
  max-width: 90rem;
  max-height: 5.625rem;
  background: #0c0c0e;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 8;
}
.text__header {
  color: #fff;
  font-family: Forum-Regular;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  margin: 1.25rem 0 1.25rem 1.25rem;
}
.nav {
  max-width: 100%;
}
.list__nav {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.text__nav {
  list-style: none;
  color: #fff;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  margin: 1.25rem 0 1.25rem 1.25rem;
  cursor: pointer;
  text-decoration: none;
}

/* Здесь начинается бургер меню */
.nav_burger {
  margin: 0 auto;
  width: 20.75rem;
  height: 30rem;
  background: #000;
  position: absolute;
  z-index: 6;
  right: 0;
  top: -30rem;
  transition: 0.5s;
}
.list__nav_burger {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  padding: 0;
  margin-bottom: 6.25rem;
  margin-left: 6.69rem;
}
.text__nav_burger {
  list-style: none;
  color: #fff;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  margin: 1.25rem 0 1.25rem 1.25rem;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
}
.text__nav:hover {
  color: #bb945f;
}

/* Здесь заканчивается бургер меню */

/* Здесь начинается LogIn меню */
.imgLogMenu {
  margin: 1.938rem 1.25rem 1.938rem 0;
  cursor: pointer;
  z-index: 6;
}
.imgLogMenu:hover {
  border-radius: 20px;
  background: #bb945f;
}
.dropMenuInOut {
  position: relative;
}
.dropMenu {
  text-align: center;
  width: 5rem;
  background: #fff;
}
.LogIn {
  position: absolute;
  z-index: 6;
  right: 7rem;
  top: -9rem;
  transition: 0.5s;
}
.LogOut {
  z-index: 6;
  position: absolute;
  right: 7rem;
  top: -9rem;
  transition: 0.5s;
}
.Profile {
  color: #000;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}
.line4 {
  margin: 0 auto;
  width: 2.5rem;
  height: 0.0625rem;
  background: #bb945f;
}
.dropMenu__text {
  color: #000;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  cursor: pointer;
}
/* Здесь заканчивается LogIn меню */

/* Начало меню My Profile */

.modal__profile {
  width: 37.5rem;
  height: 25rem;
  background: #fff;
  position: fixed;
  display: flex;
  margin-inline: auto;
  inset-inline: 0;
  inset-block-start: calc(40%);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.bg {
  width: 10.625rem;
  height: 25.1875rem;
  background: #0c0c0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name__and__avatar {
  width: 7.5rem;
  height: 7.8125rem;
}
.name {
  width: 7.5rem;
  height: 1.875rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #bb945f;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__info {
  position: relative;
}
.close__btn {
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  top: 1.56rem;
  right: -3.5rem;
  cursor: pointer;
}
.My__profile {
  margin: 0;
  margin-top: 2.5rem;
  margin-right: 3.75rem;
  margin-bottom: 2.25rem;
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.card__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}
.card__number1 {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.card__number2 {
  color: #bb945f;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.cards__profile {
  margin-left: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.visits__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.cards__text {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
}
.bonuses__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.book__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.Rented__books {
  width: 21.875rem;
  height: 6.25rem;
}
.Rented__hedear {
  margin: 0;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 1.88rem;
  display: flex;
  justify-content: start;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.Rented__text {
  margin: 0;
  margin-bottom: 0.63rem;
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.card__number {
  margin: 0;
  margin-top: 2.3rem;
  margin-left: 1.25rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}
.card__number1 {
  margin: 0;
}
.card__number1 {
  margin: 0;
}

/* Конец меню My Profile */

.modal__Login {
  width: 15.625rem;
  height: 16.375rem;
  background-color: white;
  position: fixed;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  margin-inline: auto;
  inset-inline: 0;
  inset-block-start: calc(40%);
}
.krestik {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  cursor: pointer;
}
.krestikk {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  cursor: pointer;
}
.LogInMenuOpen {
  margin: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Forum-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}
.modal__text {
  margin: 0;
  margin-top: 0.62rem;
  margin-bottom: 0.62rem;
  margin-left: 1.56rem;
  color: #000;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01875rem;
}
input {
  width: 12.5rem;
  height: 1.25rem;
  margin-left: 1.56rem;
  border: 1px solid #bb945f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: #0a377e;
  margin: 0;
}
.modal__text__button {
  margin-top: 1.25rem;
  margin-left: 1.56rem;
  margin-bottom: 0.62rem;
  width: 4.6875rem;
  height: 1.875rem;
  border-radius: 0.125rem;
  border: 1px solid #0c0c0e;
  cursor: pointer;
}
.modal__button__text {
  margin: 0;
  color: #0c0c0e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
}
.register__menu {
  display: flex;
  margin-left: 0.5rem;
}
.modal__text__mini {
  margin: 0;
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter-Regular;
  font-size: 0.625rem;
  font-weight: 400;
}
.register {
  margin: 0;
  margin-left: 0.5rem;
  color: #0c0c0e;
  font-family: Inter-Regular;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  cursor: pointer;
}
.modal__Register {
  width: 15.625rem;
  height: 23.875rem;
  background-color: white;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  margin-inline: auto;
  transition: 1s;
  inset-inline: 0;
  inset-block-start: calc(40%);
}
.modal__buy__a__card {
  margin: 0 auto;
  margin-top: 2rem;
  width: 40.625rem;
  height: 33.75rem;
  position: relative;
  border: 1px solid red;
}
.krestik1 {
  position: absolute;
  top: 1.56rem;
  right: 1.56rem;
}
.modal__header {
  width: 40.625rem;
  height: 3.75rem;
  background: #0c0c0e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy__a__card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.modal__main {
  display: flex;
  justify-content: space-around;
}
.modal__buy1 {
  margin-top: 1.87rem;
}
.Expiration__code {
  display: flex;
}
.number__mini input {
  width: 2.8125rem;
  height: 1.25rem;
}
.Expiration__code {
  display: flex;
}
.buy__a__card__menu {
  display: flex;
}
.price {
  margin: 0;
  color: #0c0c0e;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  margin-left: 1.56rem;
  margin-top: 1.88rem;
}
.modal__buy2 {
  margin-top: 1.87rem;
  margin-right: 2.5rem;
  width: 20.625rem;
}
.modal__text1 {
  margin: 0;
  color: #000;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
}

/*Здесь начинаются инпут меню логин, регистр бай а лайбрари кард и т.д.  */
.container {
  margin: 0 auto;
  max-width: 90rem;
  position: relative;
}
.containerGray {
  display: grid;
  background-color: grey;
  position: fixed;
  z-index: 8;
  opacity: 0;
  transition: 0.7s;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
}
.img__welcome {
  width: 100%;
  height: 37.5rem;
  position: relative;
}
.img1 {
  background-image: url(../img/welcome.jpg);
  background-size: cover;
  background-position: center;
  max-width: 90rem;
  height: 37.5rem;
  position: relative;
}
.overlay {
  max-width: 90rem;
  height: 18.75rem;
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 100%
  );
}
.welcome__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  height: 13.75rem;
  padding: 2.1875rem 2.5rem;
  background-color: black;
  position: absolute;
  top: 10rem;
}
.welcome__bgtext {
  padding: 2.1875rem 2.5rem;
  text-align: center;
  font-family: Forum-Regular;
  max-width: 32.5rem;
  color: #fff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}
.about {
  max-width: 90rem;
  height: 52.3125rem;
  background: #fff;
  position: relative;
}
.about__h2 {
  margin: 0 auto;
  font-family: Forum-Regular;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  color: #0c0c0e;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
.about__line {
  width: 3.125rem;
  height: 0.0625rem;
  background: #0c0c0e;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.about__text {
  color: #000;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.img__about {
  max-width: 87.5rem;
  height: 35rem;
  display: flex;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  overflow: hidden;
}

.slider {
  max-width: 87.5rem;
  height: 35rem;
  display: flex;
  gap: 2rem;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.png1 {
  transition: 0.5s;
}
.png2 {
  transition: 0.5s;
}
.png3 {
  transition: 0.5s;
}
.png4 {
  transition: 0.5s;
}
.png5 {
  transition: 0.5s;
}
.carret__left {
  display: flex;
  align-self: center;
  display: none;
}
.carret__right {
  display: flex;
  align-self: center;
  display: none;
}
.svg {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.svg1 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black;
  margin: 0 0.5rem 0 0.5rem;
  cursor: pointer;
}
.svg2 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black;
  margin: 0 0.5rem 0 0.5rem;
  display: none;
  cursor: pointer;
}
.active {
}
.active1 {
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
.favorites {
  max-width: 90rem;
  height: 89.9375rem;
  padding-bottom: 2.08rem;
}
.Favorites__h2 {
  margin: 0 auto;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  color: #0c0c0e;
  font-family: Forum-Regular;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
.Favorites__h3 {
  color: #000;
  font-family: Inter-Bold;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-left: 1.25rem;
  margin-bottom: 2.5rem;
}
.seasons {
  max-width: 43.75rem;
  height: 1.5rem;
  display: flex;
  margin-left: 1.25rem;
}
.seasons__lable {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.seasons__lable input {
  display: none;
}
.radio-button {
  width: 1.0625rem;
  height: 1.0625rem;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-button::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.seasons__lable input:checked + .radio-button::before {
  opacity: 1;
}
.seasons__lable input:checked + .radio-button + .seasons__text {
  font-weight: 700;
}
.seasons__text {
  margin: 0 auto;
  margin-right: 5.62rem;
  margin-left: 1.25rem;
  color: #000;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.favorites__items {
  max-width: 87.5rem;
  height: 71.875rem;
  position: relative;
  margin-top: 2.5rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.partZero {
  opacity: 1;
  transition: 0.5s;
}
.partOne {
  display: none;
  opacity: 0;
  transition: 0.5s;
}
.partToo {
  display: none;
  opacity: 0;
  transition: 0.5s;
}
.partThree {
  display: none;
  opacity: 0;
  transition: 0.5s;
}
.favorites__line {
  margin: 0;
  width: 3.75rem;
  height: 0.0625rem;
  background: #bb945f;
  margin-left: 1.25rem;
  margin-bottom: 0.94rem;
}
.Picks {
  margin: 0;
  color: #000;
  font-family: Forum-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  margin: 0.94rem 1.25rem 0 1.25rem;
  text-transform: capitalize;
}
.favorites__head {
  margin: 0;
  color: #000;
  font-size: 0.9375rem;
  font-family: Inter-Bold;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}
.favorites__text {
  max-width: 22.1875rem;
  margin: 0;
  color: #000;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  margin-left: 1.25rem;
  text-transform: capitalize;
}
.first__books {
  width: 34.375rem;
  height: 34.6875rem;
  border: 1px solid #000;
  background: #fff;
  position: absolute;
}
.favorites__button {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter-Bold;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  padding: 0.56rem 1.69rem 0.56rem 1.69rem;
  margin: 0 0 0.94rem 1.25rem;
  position: absolute;
  bottom: 0;
  border: 2px solid black;
  border-radius: 5px;
}
.favorites__button:hover {
  border-radius: 0.125rem;
  border: 2px solid #bb945f;
  border-radius: 5px;
  color: #bb945f;
  cursor: pointer;
}
.book1 {
  position: absolute;
  left: 24rem;
  bottom: -0.1rem;
}
.second__books {
  width: 34.375rem;
  height: 34.6875rem;
  border: 1px solid #000;
  background: #fff;
  position: absolute;
  right: 2rem;
}
.book2 {
  position: absolute;
  left: 24rem;
  bottom: -0.1rem;
}
.third__books {
  width: 34.375rem;
  height: 34.6875rem;
  border: 1px solid #000;
  background: #fff;
  position: absolute;
  top: 37.1rem;
}
.book3 {
  position: absolute;
  left: 24rem;
  bottom: -0.1rem;
}
.fourth__books {
  width: 34.375rem;
  height: 34.6875rem;
  border: 1px solid #000;
  background: #fff;
  position: absolute;
  right: 2rem;
  top: 37.1rem;
}
.book4 {
  position: absolute;
  left: 24rem;
  bottom: -0.1rem;
}
.coffe__shop {
  display: flex;
  max-width: 90rem;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.coffee__h2 {
  color: #0c0c0e;
  font-family: Forum-Regular;
  margin: 0;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.about__line1 {
  width: 3.125rem;
  height: 0.0625rem;
  background: #0c0c0e;
  margin: 0 auto;
}
.coffee_text {
  color: #000;
  text-align: center;
  font-family: Inter-Regular;
  margin: 0;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
.menu {
  max-width: 87.5rem;
  height: 32.5rem;
  position: relative;
}
.deserts {
  display: flex;
  width: 30.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5rem;
  position: absolute;
  left: 10rem;
}
.coffe__and__tea {
  display: inline-flex;
  max-width: 30.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 2.5rem;
  position: absolute;
  right: 15rem;
}
.coffe__and__tea__h2 {
  margin: 0;
  color: #bb945f;
  font-family: Forum-Regular;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.75rem;
}
.coffe__text1 {
  margin: 0;
  color: #000;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.coffe__line {
  width: 6.25rem;
  height: 0.0625rem;
  background: #bb945f;
}
.coffe__line1 {
  width: 6.25rem;
  height: 0.0625rem;
  background: #bb945f;
  margin-left: 0.5rem;
}
.coffe__line2 {
  width: 6.25rem;
  height: 0.0625rem;
  background: #bb945f;
}
.coffe__line3 {
  width: 6.25rem;
  height: 0.0625rem;
  background: #bb945f;
  margin-left: 5.7rem;
}
.coffe__line4 {
  width: 6.25rem;
  height: 0.0625rem;
  background: #bb945f;
  margin-left: 3.8rem;
}
.coffe__line5 {
  width: 6.25rem;
  height: 0.0625rem;
  background: #bb945f;
  margin-left: 6.6rem;
}
.coffe__line6 {
  width: 6.25rem;
  height: 0.0625rem;
  background: #bb945f;
  margin-left: 5.8rem;
}
.coffe__money {
  margin: 0;
  color: #000;
  font-family: Forum-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.contacts {
  max-width: 90rem;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  background: #fff;
  position: relative;
  margin-bottom: 3.75rem;
}
.our__contacts {
  color: #0c0c0e;
  text-align: center;
  font-family: Forum-Regular;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}
.contacts__info {
  max-width: 31.4375rem;
  height: 23.75rem;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.contacts__h2 {
  margin: 0;
  margin-bottom: 2.5rem;
  color: #000;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.phone__info {
  color: #000;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.phone__info1 {
  margin: 0;
  color: #000;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.phone__info2 {
  margin: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #000;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.phone1 {
  text-decoration: none;
}
.phone1:hover {
  color: blue;
}
a {
  color: black;
}
.senior {
  width: 21.9375rem;
  height: 6.25rem;
  margin-top: 2.5rem;
}
.senior__name {
  margin: 0;
  color: #000;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.director {
  margin: 0;
  margin-top: 1.25rem;
  color: #000;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.director__span:hover {
  margin: 0;
  margin-top: 1.25rem;
  color: #000;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  cursor: default;
}
.rectangle {
  max-width: 43.5rem;
  max-height: 25.875rem;
  display: flex;
  position: absolute;
  right: 0;
}
.LibraryCard {
  max-width: 90rem;
  height: 38.375rem;
  background: #fff;
  position: relative;
}
.section__title {
  margin: 0 auto;
  width: 25rem;
  height: 3.8125rem;
}
.LibraryCard__title {
  margin: 0;
  margin-bottom: 1.25rem;
  color: #0c0c0e;
  text-align: center;
  font-family: Forum-Regular;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}
.cards {
  max-width: 90rem;
  height: 38.375rem;
  display: flex;
  justify-content: space-between;
}
.find__card {
  max-width: 37.5rem;
  height: 28.3125rem;
  margin-top: 2.5rem;
}
.find__card__text {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0375rem;
}
.card__body {
  margin: 0;
  margin-top: 1.87rem;
  display: flex;
  max-width: 37.5rem;
  height: 24.1875rem;
  padding-bottom: 0.0625rem;
  justify-content: center;
  align-items: center;
}
.card__bg {
  width: 37.5rem;
  height: 24.125rem;
  position: relative;
}
.white__bg {
  max-width: 37.5rem;
  height: 24.125rem;
  border: 3px solid #bb945f;
  background: #fff;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.gold__bg {
  width: 35rem;
  height: 17rem;
  background: #bb945f;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: flex;
  flex-direction: column;
}
.gold__bg__text {
  margin: 0;
  padding: 1.25rem;
  color: #000;
  font-family: Forum-Regular;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
}
.Readers__name {
  margin: 0;
  input {
    text-indent: 1.25rem;
    border: 1px solid white;
  }
}
.number {
  input {
    text-indent: 1.25rem;
    border: 1px solid white;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input {
  width: 32.5rem;
  height: 4.125rem;
  border-radius: 0.625rem;
  background: #fff;
  margin-left: 1.25rem;
  color: #8e8e8e;
  font-family: Forum-Regular;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
}
.button__white {
  padding: 0.625rem 2.5rem;
  border-radius: 0.125rem;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  background-color: white;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  position: absolute;
  bottom: 1.88rem;
  right: 11rem;
}
.button__white:hover {
  border-radius: 0.125rem;
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
.get__a__card {
  margin-top: 2.5rem;
  max-width: 28.5rem;
  height: 15.8125rem;
  position: relative;
}
.get__a__card__head {
  margin: 0;
  margin-bottom: 2.19rem;
  color: #000;
  text-align: end;
  font-family: Forum-Regular;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0375rem;
}
.get__a__card__text {
  margin: 0;
  color: #000;
  text-align: right;
  font-family: Inter-Regular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.025rem;
}
.get__a__card__button {
  width: 4.6875rem;
  height: 1.875rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  background-color: white;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  position: absolute;
  bottom: 0;
  right: 6.75rem;
}
.get__a__card__button1 {
  width: 4.6875rem;
  height: 1.875rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  background-color: white;
  text-align: center;
  font-family: Inter-Regular;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.get__a__card__button:hover {
  border-radius: 0.125rem;
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
.get__a__card__button1:hover {
  border-radius: 0.125rem;
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
.footer__head {
  margin: 0 auto;
  max-width: 90rem;
  height: 15.625rem;
  background: #0c0c0e;
}
.frame {
  max-width: 87.5rem;
  height: 5.625rem;
}
.frame1 {
  max-width: 87.5rem;
  height: 2.5rem;
  position: relative;
}
.frame__text {
  max-width: 14.3125rem;
  color: #fff;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: 1.25rem;
  position: absolute;
}
.frame__text1 {
  max-width: 14.3125rem;
  color: #fff;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: 1.25rem;
  text-align: end;
  position: absolute;
  top: -1.25rem;
  right: 0;
}
.frame2 {
  max-width: 87.5rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 71.6875rem;
  margin-top: 0.62rem;
  position: relative;
}

.social__media {
  display: flex;
  max-width: 6.375rem;
  height: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.9375rem;
  position: absolute;
  left: 10px;
  top: 1.25rem;
}
.twitter {
  margin-left: 1.25rem;
  max-width: 1.5rem;
  height: 1.5rem;
  transition: with, 1s ease;
}
.instagram {
  max-width: 1.5rem;
  height: 1.5rem;
  transition: with, 1s ease;
}
.facebook {
  width: 1.5rem;
  height: 1.5rem;
  transition: with, 1s ease;
}
.twitter:hover {
  width: 2rem;
  height: 2rem;
}
.instagram:hover {
  width: 2rem;
  height: 2rem;
}
.facebook:hover {
  width: 2rem;
  height: 2rem;
}
.frame2__text {
  color: #fff;
  text-align: right;
  font-family: Inter-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  position: absolute;
  right: 0;
  top: 0.1rem;
}
.line3 {
  max-width: 87.5rem;
  height: 0.0625rem;
  background: #fff;
  margin-left: 1.25rem;
}
@font-face {
  font-family: "Forum-Regular";
  src: url(../fonts/Forum-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../fonts/Inter-Bold.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
